/*============================= RESPONSIVE LAYOUTS ===============================*/
@media only screen and (min-width: 996px){
	nav{width: auto !important;}
}

@media only screen and (max-width: 1100px) {

 	body{min-width:960px;}
	/* -------- Main layout ----------*/
	.main,
	header{
		width: 950px;
	}
	.header_inner{padding-left: 20px;}
	nav{padding-left: 20px;}
	.advantage_col{width: 455px;}
	.global_wrap{
		height: auto;
	}
	.content_box{
		padding: 0 80px;
	}
	.content_text{width: 590px;}
	.location_box .location_details{width: auto;float: none;}
	.location_map{text-align: center;padding: 20px 2px 1px;}
	.location_map img:before{display: block;content: "";width: 100%;height: 1px;}
	.project_dev .content_text,
	.page_project_members .content_text{float: right;width: 590px;}
	.map_content{width: auto;float: none;}
	.map{
		padding: 16px 25px 0 44px;
	}
	.member_details{width: 140px;}
	.contact_col{width: 456px;}
	.address_list{width: 195px;}
	img{max-width: 100%;}

	.premises_img{margin-left: -257px;}
	.premises_details{width: 352px;}
	.gallery_item{margin-left: 17px;margin-right: 17px;}
	.outer_wrap{min-height: 638px;}
}

@media only screen and (max-width: 995px) {

	body{min-width:768px;}
	
	/* -------- Main layout ----------*/
	.main,
	.main1{width: 748px;}
	header,
	.content_text.var2,
	.content_text{width: auto;}
	.global_wrap{margin-bottom: 70px;}
	.content_text:after{
		-webkit-background-size: contain;
		background-size: contain;
		width: auto;
		right: -8px;
	}
	.outer_wrap{
		left: 0;
		-webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
		-ms-transition: all 400ms ease;
		-o-transition: all 400ms ease;
		transition: all 400ms ease;
	}
	header:before,
	header:after,
	.content_sidebar{display: none;}

	.logo,
	nav,
	.content_text,
	.project_dev .content_text,
	.page_project_members .content_text{
		float: none;
	}
	.project_dev .content_box,
	.page_project_members .content_box{
		padding: 0 80px;
	}

	.outer_wrap{
		position: relative;
	}

	.content_box{
		padding: 0;
	}
	
	
	/* -------- Navigation ----------*/
	/*nav{
		position: absolute;
		left: 0;
		top: 0;
		padding: 17px 0 0 30px;
	}*/
	.global_wrap, 
	[class^="bg_box"], 
	header{
	  -webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease;
	  -ms-transition: all 300ms ease;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
	}
	.nav_btn{
		display: block;
	}
	

	/* -------- Header ----------*/
	h1.logo{
		margin: 0 auto;
		width: 160px;
		padding-top: 15px;
	}
	.header_inner{
		padding: 0 13px;
		height: 68px;
	}

	/* -------- NAV ----------*/
	nav{
		position: fixed;
		padding: 0;
		overflow-x: hidden;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #333739;
		-webkit-box-shadow: inset -5px 0 10px rgba(0,0,0,0.2);
		-moz-box-shadow: inset -5px 0 10px rgba(0,0,0,0.2);
		box-shadow: inset -5px 0 10px rgba(0,0,0,0.2);
	}
	.nav_scroll_bar{
		overflow: scroll!important;
		overflow-x: hidden!important;
		height: 100%;
		width: 150px;
	}
	.sf-menu li,
	.sub_menu_item,
	.sf-menu ul li{
		width: 129px;
		float: none;
		border-left: 1px solid #000;
	}
	.sub_menu, li.sfHover>.sub_menu{
		padding:0;
		background-color: transparent;
	}
	.sub_menu_item{border-top: none;}

	.menu_link,
	.sub_menu_link{
		text-align: center;
		padding: 6px 0 24px;
		font-size: 18px;
		color: #828282;
		text-shadow: 1px 1px 1px #252729;
		border-bottom: 1px solid #000;
		border-top: 1px solid #78797a;
	}
	.sub_menu_link{
		
	}
	.sub_menu_link:hover{
		color: #808080;
	}
	.sub_menu_link{}
	.sub_menu, li.sfHover>.sub_menu{
		width: auto;
		border: none;
		background: #606163;
	}
	.sf-menu li, .sub_menu_item, .sf-menu ul li{width: auto;border: none;}
	[class^="icon_"]{
		display: block;
		margin: 13px auto 0;
		background: url(../images/menu_icons.png) no-repeat;
	}
	.icon_about{ background-position: 0 0; width: 37px; height: 39px; } 
	.icon_contacts{ background-position: 0 -189px; width: 52px; height: 32px; } 
	.icon_gallery{ background-position: 0 -371px; width: 52px; height: 30px; } 
	.icon_home{ background-position: 0 -551px; width: 37px; height: 34px; } 
	.icon_location{ background-position: 0 -735px; width: 52px; height: 28px; } 
	.icon_news{ background-position: 0 -913px; width: 52px; height: 33px; } 
	.icon_permisses{ background-position: 0 -1096px; width: 52px; height: 41px; } 

	.current .menu_link,
	.menu_link:hover,
	li.sfHover .menu_link,
	.nav_lang__item:hover,
	.nav_lang__item.current,
	.sub_menu_link{
		background: #606163;
		color: #34383b;
		text-shadow: 1px 1px 1px #707173;
	}
	.sub_menu_link{
		padding: 0;
    	line-height: 24px;
		height: 82px;
	}
	.sub_menu_link span{
		vertical-align:middle;
		display: inline-block;
	}
	.sub_menu_link:after{
		display:inline-block;
	    vertical-align:middle;
	    height:100%;
	    width:0px;
	    content: "";
	}
	.sf-menu ul{
		position: static;
	}
	

	.nav_langs{
		display: block;
		border-bottom: 1px solid #000;
	}
	.nav_lang__item{
		float: left;
		font-size: 14px;
		line-height: 69px;
		color: #828282;
		text-transform: uppercase;
		width: 64px;
		height: 69px;
		text-align: center;
		text-shadow: 1px 1px 1px #252729;
		border-left: 1px solid #000;
	}
	
	/* -------- Content ----------*/
	.langs_list{display: none;}
	.advantage_box{padding-left: 0;padding-right: 0;}
	.advantage_col{width: 352px;min-height: 282px;}
	.list1{padding-right: 20px;}
	.list1_item{padding-bottom: 20px;}

	.font1,.font2{margin: 0;}

	.btns_col_wrap .btns_col:first-child{width: 360px;padding-left: 0;}
	.btns_col{padding-left: 0px;}
	
	.contact_col{width: 50%;}
	
	.address_logo_box{height: 150px;padding: 0 20px 30px;}
	.contacts .contact_col:first-child .address_list:first-child,
	.address_list{padding: 20px 20px;background: none;width: auto;float: none;}
	.address_logo{float: none;margin-bottom: 20px;padding: 0;}
	.address_list_box{background: none;}
	
	.premises_details{position: relative;left: 0;margin-left: 20px;top: 10px;}
	.premises_img{width: 550px;left: auto;right: 0;}
	.premises_pager{left: 180px;}
	
	.bottom_bg{left: 100px;right: 100px;}

	/* -------- Footer ----------*/
	footer{padding-bottom: 20px;position: relative;height: auto;}
	.footer_sm_box1 {
		width: 260px;
		margin-right: 20px;
	}
	.footer_sm_box2 {
		width: 255px;
	}
}

@media only screen and (min-height: 995px){
	footer{
		position: absolute;
		bottom: 0;
	}
}

@media only screen and (max-width: 767px) {
	body{min-width:420px;}
	.bottom_resp_arrow{
		bottom: 0;
		left: 0;
		width: 100%;
		height: 50px;
	}
	.bottom_resp_arrow:after{
		display: block;
		width: 10px;
		height: 11px;
		position: absolute;
		/*top: 50%;*/
		left: 50%;
		margin: -5px 0 0 -5px;
		background: url(../images/bottom_arrow.png) 50% 50% no-repeat;
		content: "";
	  animation: animationFrames linear 0.8s;
	  animation-iteration-count: 100;
	  transform-origin: ;
	  -webkit-animation: animationFrames linear 0.8s;
	  -webkit-animation-iteration-count: 100;
	  -webkit-transform-origin: ;
	  -moz-animation: animationFrames linear 0.8s;
	  -moz-animation-iteration-count: 100;
	  -moz-transform-origin: ;
	  -o-animation: animationFrames linear 0.8s;
	  -o-animation-iteration-count: 100;
	  -o-transform-origin: ;
	  -ms-animation: animationFrames linear 0.8s;
	  -ms-animation-iteration-count: 100;
	  -ms-transform-origin: ;
	}

	@keyframes animationFrames{
	  0% {
	    top:50%;
	  }
	  40% {top:70%;}
	  80% {top:40%;}
	  100% {
	  	top:50%;
	    opacity:1;}
	}

	@-moz-keyframes animationFrames{
	   0% {
	    top:50%;
	  }
	  40% {top:70%;}
	  80% {top:40%;}
	  100% {
	  	top:50%;
	    opacity:1;}
	}

	@-webkit-keyframes animationFrames {
	   0% {
	    top:50%;
	  }
	  40% {top:70%;}
	  80% {top:40%;}
	  100% {
	  	top:50%;
	    opacity:1;}
	}

	@-o-keyframes animationFrames {
	 0% {
	    top:50%;
	  }
	  40% {top:70%;}
	  80% {top:40%;}
	  100% {
	  	top:50%;
	    opacity:1;}
	}

	@-ms-keyframes animationFrames {
	   0% {
	    top:50%;
	  }
	  40% {top:70%;}
	  80% {top:30%;}
	  100% {
	  	top:50%;
	    opacity:1;}
	}
	.main,
	.main1{width: 420px;}
	.bg_box{
		height: 500px;
		position: absolute;
	}
	.gallery_item{margin-left: 20px;margin-right: 20px;}

	
	.homepage #content{
		padding: 430px 0 0;
		overflow: hidden;
	}

	.btns{
		bottom: auto;
		top: 256px;
		text-align: center;
	}
	.btns .main{width: auto;padding: 0 10px;}
	.btns .btns_col:first-child{padding-left: 0;}
	.btns .btns_col:first-child,
	.btns_col{width: 200px;display: inline-block;}
	
	.advantage_box{
		position: relative;
		background: rgb(74,49,65);
		background: -moz-linear-gradient(top,  rgba(74,49,65,1) 0%, rgba(52,29,45,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,49,65,1)), color-stop(100%,rgba(52,29,45,1)));
		background: -webkit-linear-gradient(top,  rgba(74,49,65,1) 0%,rgba(52,29,45,1) 100%);
		background: -o-linear-gradient(top,  rgba(74,49,65,1) 0%,rgba(52,29,45,1) 100%);
		background: -ms-linear-gradient(top,  rgba(74,49,65,1) 0%,rgba(52,29,45,1) 100%);
		background: linear-gradient(to bottom,  rgba(74,49,65,1) 0%,rgba(52,29,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a3141', endColorstr='#341d2d',GradientType=0 );
		padding: 70px 0;
	}
	.advantage_col,
	.project_status{
		width: auto;
	}
	.project_status{
		margin: 0;
		left: 42px;
		right: 42px;
	}
	.project_status__inner{
		font-size: 18px;
		padding: 10px 40px;
		height: auto;
	}
	.project_status:before, .project_status:after{
		width: 40px;
	}
	.project_status:before{left: -20px;}
	.project_status:after{right: -20px;}
	
	.advantage_box .main{
		background: rgb(77,77,77);
		background: -moz-linear-gradient(top,  rgba(77,77,77,0.8) 0%, rgba(75,75,75,0.8) 66%, rgba(75,75,75,0.8) 66%, rgba(36,36,36,0.8) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,77,77,0.8)), color-stop(66%,rgba(75,75,75,0.8)), color-stop(66%,rgba(75,75,75,0.8)), color-stop(100%,rgba(36,36,36,0.8)));
		background: -webkit-linear-gradient(top,  rgba(77,77,77,0.8) 0%,rgba(75,75,75,0.8) 66%,rgba(75,75,75,0.8) 66%,rgba(36,36,36,0.8) 100%);
		background: -o-linear-gradient(top,  rgba(77,77,77,0.8) 0%,rgba(75,75,75,0.8) 66%,rgba(75,75,75,0.8) 66%,rgba(36,36,36,0.8) 100%);
		background: -ms-linear-gradient(top,  rgba(77,77,77,0.8) 0%,rgba(75,75,75,0.8) 66%,rgba(75,75,75,0.8) 66%,rgba(36,36,36,0.8) 100%);
		background: linear-gradient(to bottom,  rgba(77,77,77,0.8) 0%,rgba(75,75,75,0.8) 66%,rgba(75,75,75,0.8) 66%,rgba(36,36,36,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#242424',GradientType=0 );
	border: 1px solid rgba(51,51,51,0.8);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.75), inset 0 0 10px rgba(229,182,212,0.13);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.75), inset 0 0 10px rgba(229,182,212,0.13);
    box-shadow: 0 0 15px rgba(0,0,0,0.75), inset 0 0 10px rgba(229,182,212,0.13);
	}
	.advantage_box:before,
	.advantage_box:after{
		width: 42px;
		height: 81px;
		display: block;
		position: absolute;
		top: -81px;
		background: rgb(77,53,68);
		background: -moz-linear-gradient(top,  rgba(77,53,68,1) 0%, rgba(75,49,65,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,53,68,1)), color-stop(100%,rgba(75,49,65,1)));
		background: -webkit-linear-gradient(top,  rgba(77,53,68,1) 0%,rgba(75,49,65,1) 100%);
		background: -o-linear-gradient(top,  rgba(77,53,68,1) 0%,rgba(75,49,65,1) 100%);
		background: -ms-linear-gradient(top,  rgba(77,53,68,1) 0%,rgba(75,49,65,1) 100%);
		background: linear-gradient(to bottom,  rgba(77,53,68,1) 0%,rgba(75,49,65,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d3544', endColorstr='#4b3141',GradientType=0 );
		content: "";
	}
	.advantage_box:before{
		left: -20px;
		-moz-transform: skewX(15deg);
		-webkit-transform: skewX(15deg);
		-o-transform: skewX(15deg);
		-ms-transform: skewX(15deg);
		transform: skewX(15deg);
	}
	.advantage_box:after{
		right: -20px;
		-moz-transform: skewX(-15deg);
		-webkit-transform: skewX(-15deg);
		-o-transform: skewX(-15deg);
		-ms-transform: skewX(-15deg);
		transform: skewX(-15deg);
	}
	.advantage_box .advantage_col:first-child,
	.advantage_box .advantage_col{margin: 0;min-height: 0;float: none;}
	[class^="big_btn"]{
		-moz-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-o-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
		padding-left: 100px;
	}
	.advantage_col{
		background: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: none;
	}
	.advantage_box .list1 .list1_item:first-child:after{display: block;}
	.advantage_col:first-child .list1_item:first-child:after{display: none;}

	.content_text:after{
		right: -6px;
	}
	.project_dev .content_box,
	.page_project_members .content_box{
		padding: 0;
	}
	.project_dev .content_text,
	.page_project_members .content_text{width: auto;}
	.member_row,
	.member_item{
		background: none;		
	}
	.member_item{
		display: block;
		width: auto;
		background: url(../images/separator.jpg) 0 bottom repeat-x !important;
	}
	.member_details{width: 50%;}
	.member_logo{text-align: right;}
	.map,
	.content_text__inner{padding: 20px 20px;}
	.title1 span{min-width: 0;padding: 10px 30px 4px;}
	/*.contact_col{float: none;width: auto;background: none;margin-bottom: 30px;}*/
	.contacts{padding: 20px 0;}
	.list1_item:after{right: 10px;}
	.address_logo{width: auto;}
	.address_logo_box{padding-left: 10px;padding-right: 10px;}
	footer{
		background: rgb(111,110,111);
		background: -moz-linear-gradient(top,  rgba(111,110,111,1) 0%, rgba(84,84,84,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,110,111,1)), color-stop(100%,rgba(84,84,84,1)));
		background: -webkit-linear-gradient(top,  rgba(111,110,111,1) 0%,rgba(84,84,84,1) 100%);
		background: -o-linear-gradient(top,  rgba(111,110,111,1) 0%,rgba(84,84,84,1) 100%);
		background: -ms-linear-gradient(top,  rgba(111,110,111,1) 0%,rgba(84,84,84,1) 100%);
		background: linear-gradient(to bottom,  rgba(111,110,111,1) 0%,rgba(84,84,84,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f6e6f', endColorstr='#545454',GradientType=0 );
	}
	.footer_inner{padding: 20px 0 0;}
	.footer_sm_box1,
	.footer_sm_box2{
		width: auto;
		margin: 0 0 20px;
		float: none;
	}
	.footer_sm_img{
		width: 80px;
	}
	.tpad{padding-left: 107px;margin-bottom: 10px;}
	.copyright{float: none;padding-left: 107px;}
	.font1{display: block;}

	.premises_img{width: auto;left: 0;margin: 0;padding: 0 30px 0 100px;}
	.premises_details{margin: 0 20px 0 45px;width: auto;padding-bottom: 0;}
	.premises_pager{left: 10px;}
	.order_btn{position: relative;margin: 40px 30px 0;}
	.premises_inner{padding-right: 20px;}
	.premises_img{padding: 0;}

	.bottom_bg{left: 18px;right: 18px;}

	.content_text__inner2{padding-bottom: 20px;}
}

@media only screen and (max-width: 479px){
	body{min-width:300px;}
	.homepage .main{
		width: 300px;
	}
	.main,
	.main1{width: auto;margin: 0 20px;}
	.project_status:before,
	.project_status:after{display: none;}
	.project_status{left: 0;right: 0;}
	[class^="big_btn"]{
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		padding-left: 100px;
	}
	.btns .btns_col:first-child, .btns_col{display: block;text-align: center;width: auto;margin-bottom: 20px;}
	.btns{top: 200px;}
	.gallery{text-align: center;padding-right: 40px;padding-left: 40px;}
	.gallery_item{float: none;margin: 0;display: inline-block;}
	
}
@media only screen and (max-width: 330px){
	.gallery{padding-right: 20px;padding-left: 20px;}
}